#global git ignore for the repository
#binary file for initial conditions
*.out 
#check point data
*.chk*
lastcheckpoint
#output files
*.log
*.timings
*.000*
charmrun
ChaNGa
#initial condition files
*.tbin
*.bin

*.png

*.gif
